.vs/*
Lepix.PropertyGrid/Debug/*
Lepix.PropertyGrid/bin/*
Lepix.PropertyGrid/obj/*
Lepix.PropertyGrid.Model/bin/*
Lepix.PropertyGrid.Model/obj/*
LepiX.PropertyGrid.View/bin/*
Lepix.PropertyGrid.View/obj/*
Lepix.PropertyGrid.Controller/bin/*
Lepix.PropertyGrid.Controller/obj/*
CallingRScripts/obj/*
CallingRScripts/bin/*
LepiModelN2/bin/*
LepiModelN2/obj/*
InputParameters/obj/*
InputParameters/bin/*

**/bin/*
**/obj/*